# Supplementary #2: Interactive Data Visualization

In [ ]:
# connect to Google Colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# import necessary libraries
import numpy as np
import pandas as pd

# import plotly
import plotly.express as px

## Line

In [ ]:
# define data values
# x = np.array([1, 2, 3, 4])  # X-axis points
x = np.array([i for i in range(50)])
y = x*x  # Y-axis points
# fig = px.line(x,y)
# fig.show()

Enable markers to emphasize the points

In [ ]:
fig = px.line(x,y, markers=True)

fig.update_xaxes(title_text='x')
fig.update_yaxes(title_text='y')

fig.show()

## Bar

In [ ]:
# general Bar
years = range(2017, 2023)
boys = [35, 62, 91, 84, 65, 86]
girls = [42, 83, 79, 72, 60, 81]
list(years)

Store values in the dataframe

In [ ]:
df = pd.DataFrame({
    "years":list(years),
    "boys": boys,
    "girls": girls
})

df

In [ ]:
fig = px.bar(df, x='years', y='boys')
fig.show()

From vertical to horizontal presentation

In [ ]:
fig = px.bar(df, x='boys', y='years', orientation='h')
fig.show()

Choose a different attribute

In [ ]:
fig = px.bar(df, x='years', y='girls')
fig.show()

#### Colored Bar

In [ ]:
fig = px.bar(df, x='years', y='boys',
             hover_data=['boys'], color='boys',
             labels={'boys':'No. of boys'})
fig.show()

#### Stacked Bar

In [ ]:
import plotly.graph_objects as px

fig = px.Figure(data=[
    px.Bar(
    name = 'Boys',
    x = list(years),
    y = boys),

    px.Bar(
    name = 'Girls',
    x = list(years),
    y = girls)
])

fig.update_layout(barmode='stack')

fig.show()

#### Side-by-Side Bar Plot

In [ ]:
fig = px.Figure(data=[
    px.Bar(
    name = 'Boys',
    x = list(years),
    y = boys),

    px.Bar(
    name = 'Girls',
    x = list(years),
    y = girls)
])

fig.show()

#### Histogram

In [ ]:
import plotly.express as px
# generate normal data distribution
x = np.random.normal(170, 10, 250)
fig = px.histogram(x)
fig.show()

Specify number of bins

In [ ]:
fig = px.histogram(df, x='boys') #nbins = custom number
fig.show()

## Pie Chart

In [ ]:
y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]

df_pie = pd.DataFrame({
    "amount":list(y),
    "fruits": mylabels
})

df_pie

In [ ]:
fig = px.pie(df_pie, values='amount', names='fruits', title='Amount of fruits')
fig.show()

## Scatter Plot

In [ ]:
# generate normal data distribution
x = np.random.normal(170, 10, 250)
y = np.random.normal(170, 10, 250)

fig = px.scatter(x, y)
fig.show()

### 3D-scatter plot

In [ ]:
import plotly.express as px
df = px.data.iris()

In [ ]:
fig = px.scatter_3d(df, x='sepal_length', y='sepal_width', z='petal_width',
              color='species')
fig.show()

## Bubble Chart

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Scatter(
    x=[1, 2, 3, 4], y=[10, 11, 12, 13],
    mode='markers',
    marker_size=[40, 150, 80, 100])
])

fig.show()

## Heatmap

In [ ]:
data = np.random.random((20,20))
fig = px.imshow(data)
fig.show()